
<% @links = [ link_to('New List', new_project_path) ] %>

<%= pageHeading("My Question Lists") %>

<table class="list" width="100%">
   <tr>
      <th width="50%">Name</th>
      <th width="20%"></th>
      <th width="15%" style="text-align:center"># Questions</th>
      <th width="15%" style="text-align:center"># Members</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
   
      
</table>

<br />